<div class="input-group">
  <input [(ngModel)]="searchText" type="text" class="form-control">
  <span class="input-group-btn">
         <a (click)="searchPhotos()" class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
         </a>
 </span>
</div>

<div class="row">
  <div *ngFor="let pic of photos['photo']" class="col-sm-2">
    <img class = "image-fluid img-thumbnail" (click)="selectPhoto(pic)" [src]="['https://farm' + pic.farm + '.staticflickr.com/' + pic.server + '/' + pic.id + '_' + pic.secret + '_s.jpg']"/>

    <p></p>
  </div>
</div>

